 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('x\ \(3\).jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 422px;
  height: auto;
  margin: 208px auto 208px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-image-1 {
  width: 212px;
  height: 68px;
  margin: 54px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 12px 0 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 40px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 678px;
    min-height: 332px;
    margin-top: 153px;
    margin-bottom: 85px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 175px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 100;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 85.49% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 519px;
    margin-top: 216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-image-1 {
    width: 172px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 85.18% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 487px;
    margin-top: 209px;
    margin-left: -1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 126px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 74.83% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 210px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 155px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  min-height: 714px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 714px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 96px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  line-height: 1.6;
  margin: 70px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 40px auto 70px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("p1.jpg");
  min-height: 714px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 714px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 41px;
  padding-right: 41px;
}

.u-section-2 .u-text-2 {
  margin: 306px 0 70px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 650px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 79px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 40px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    min-height: 650px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 650px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 55px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 2.25rem;
    width: auto;
    margin-top: 385px;
    margin-bottom: 65px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 61px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    line-height: 33px;
    margin-top: 55px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-image-1 {
    min-height: 560px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 57px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 325px;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1533px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    line-height: 53px;
    width: auto;
    margin-top: 122px;
    margin-right: 89px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 585px;
    background-position: 50% 0%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 363px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 45px;
    padding-left: 65px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 530px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1595px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 56px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 328px;
    margin-top: 142px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 65px;
  }

  .u-section-2 .u-image-1 {
    min-height: 650px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 29px;
    padding-left: 56px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 32px;
    margin-bottom: 70px;
    width: 355px;
  }
} .u-section-3 {
  min-height: 801px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("x\ \(3\).jpg");
  min-height: 401px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("p3.jpg");
  min-height: 401px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("xx\ \(4\).jpg");
  min-height: 401px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("xx\ \(1\).jpg");
  min-height: 401px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 801px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-right: 84px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 80px 0 0 63px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 38px 0 80px auto;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 745px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 497px;
  }

  .u-section-3 .u-image-2 {
    min-height: 497px;
  }

  .u-section-3 .u-image-3 {
    min-height: 248px;
  }

  .u-section-3 .u-image-4 {
    min-height: 248px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 745px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 69px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    margin-left: 52px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-social-icons-1 {
    min-width: 68px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 962px;
  }

  .u-section-3 .u-image-1 {
    min-height: 327px;
  }

  .u-section-3 .u-image-2 {
    min-height: 327px;
  }

  .u-section-3 .u-image-3 {
    min-height: 296px;
  }

  .u-section-3 .u-image-4 {
    min-height: 296px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 53px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 76px;
    margin-left: 40px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1677px;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }

  .u-section-3 .u-image-2 {
    min-height: 309px;
  }

  .u-section-3 .u-image-3 {
    min-height: 328px;
  }

  .u-section-3 .u-image-4 {
    min-height: 341px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 328px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2117px;
  }

  .u-section-3 .u-image-1 {
    min-height: 497px;
  }

  .u-section-3 .u-image-2 {
    min-height: 419px;
  }

  .u-section-3 .u-image-3 {
    min-height: 431px;
  }

  .u-section-3 .u-image-4 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 370px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
    margin-left: 19px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 940px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 940px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 109px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 58px 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 432px;
  height: 442px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 40px auto 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 54px auto 58px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 607px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-4 .u-text-2 {
  line-height: 1.6;
  margin: 60px 140px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 40px auto 60px 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/600x6005.jpg");
  min-height: 333px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/600x600.jpg");
  min-height: 333px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 882px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 882px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 56px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-right: 106px;
  }

  .u-section-4 .u-image-1 {
    width: 429px;
    height: 518px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
    line-height: 40px;
    margin-top: 55px;
    margin-right: 115px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-2 {
    min-height: 311px;
  }

  .u-section-4 .u-image-3 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 861px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 90px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 78px;
    margin-right: 82px;
  }

  .u-section-4 .u-image-1 {
    width: 378px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 422px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 55px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: 147px;
  }

  .u-section-4 .u-image-2 {
    min-height: 268px;
    background-position: 50% 0%;
  }

  .u-section-4 .u-image-3 {
    min-height: 268px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1973px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 866px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 69px;
  }

  .u-section-4 .u-text-1 {
    width: 502px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    width: 406px;
    margin-top: 48px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 56px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 60px;
    margin-right: 66px;
    width: 518px;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 384px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-3 {
    min-height: 384px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2111px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 854px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 302px;
    margin-top: 60px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-4 .u-text-2 {
    line-height: 33px;
    width: auto;
    margin-top: 50px;
    margin-right: 42px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 33px;
    margin-bottom: 50px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('d\ \(1\).jpg');
  min-height: 1012px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 435px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("xx\ \(6\).jpg");
  min-height: 577px;
  background-position: 100% 0.78%;
}

.u-section-5 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 577px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 577px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 59px;
}

.u-section-5 .u-text-1 {
  margin: 60px 0 0 28px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 40px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 34px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 48px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.25rem;
    width: auto;
    margin-top: 59px;
    margin-left: 32px;
  }

  .u-section-5 .u-btn-1 {
    letter-spacing: 1px;
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 763px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 467px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 26px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 53px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 150px;
    margin-left: 12px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 29px;
    margin-bottom: 65px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1912px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 324px;
    margin: 458px auto 71px calc(((100% - 540px) / 2) + 108px);
  }

  .u-section-5 .u-image-1 {
    min-height: 461px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 80px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 461px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    width: 264px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1731px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 288px;
    margin-top: 354px;
    margin-bottom: -8px;
    margin-left: calc(((100% - 340px) / 2) + 26px);
  }

  .u-section-5 .u-image-1 {
    min-height: 462px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 223px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 18px;
  }
} .u-section-6 {
  min-height: 573px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/20190207_runway_post_show_hp_c03_look_07.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/20190207_runway_post_show_hp_c03_look_04.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/20190207_runway_post_show_hp_c03_look_05.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/20190207_runway_post_show_hp_c03_look_06.jpg");
  min-height: 573px;
  background-position: 50% 50%;
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1379px;
  }

  .u-section-6 .u-image-1 {
    min-height: 690px;
  }

  .u-section-6 .u-image-2 {
    min-height: 690px;
  }

  .u-section-6 .u-image-3 {
    min-height: 690px;
  }

  .u-section-6 .u-image-4 {
    min-height: 690px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 4389px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-2 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-3 {
    min-height: 1098px;
  }

  .u-section-6 .u-image-4 {
    min-height: 1096px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 573px;
  }

  .u-section-6 .u-image-2 {
    min-height: 573px;
  }

  .u-section-6 .u-image-3 {
    min-height: 573px;
  }

  .u-section-6 .u-image-4 {
    min-height: 573px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 442px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 28px auto 28px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 386px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 40px 213px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 15px 20px 40px 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 386px;
}

.u-section-7 .u-form-1 {
  height: 308px;
  width: 504px;
  margin: 40px auto;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-right: 103px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 32px;
  }

  .u-section-7 .u-form-1 {
    width: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 48px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 26px;
  }

  .u-section-7 .u-form-1 {
    width: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 101px;
    width: 421px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-7 .u-form-1 {
    height: 305px;
    width: 522px;
    margin-top: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-right: 28px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 12px;
    margin-bottom: 25px;
  }

  .u-section-7 .u-form-1 {
    width: 328px;
  }
} .u-section-8 {
  background-image: url("images/pexels-photo-9890198.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 752px;
}

.u-section-8 .u-group-1 {
  width: 570px;
  min-height: 302px;
  margin: 330px auto 60px 0;
}

.u-section-8 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-size: 8.125rem;
  text-align: start;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-8 .u-line-1 {
  height: 6px;
  margin-top: 10px;
  transform-origin: left center;
  text-align: start;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-size: 8.125rem;
  text-align: start;
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-position: 24.190000534057617% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-8 .u-group-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    background-position: 40.689998626708984% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-8 .u-group-1 {
    min-height: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 4.5rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 658px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: -50px 128px 0 auto;
}

.u-section-9 .u-image-1 {
  min-height: 565px;
  background-image: url("images/portrait-bossy-woman-with-attitude-posing-whitecopy.jpg");
  background-position: 50% 23.87%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 28px;
  }

  .u-section-9 .u-image-1 {
    min-height: 466px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-right: auto;
  }

  .u-section-9 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    min-height: 536px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-9 .u-image-1 {
    min-height: 337px;
  }
} .u-section-10 {
  min-height: 702px;
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 702px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-text-2 {
  line-height: 1.8;
  margin: 25px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 40px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-10 .u-image-1 {
  min-height: 702px;
  background-image: url("images/cool-lady-with-brunette-hair-charming-makeup-pink-sweater-black-top-modern-pants-2.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 456px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-10 .u-image-1 {
    min-height: 579px;
    --animation-fade_in_right-opacity: 0.45;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 320px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.27778rem;
  }

  .u-section-10 .u-image-1 {
    min-height: 443px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 547px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-10 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3.77778rem;
  }

  .u-section-10 .u-image-1 {
    min-height: 570px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 336px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.27778rem;
  }

  .u-section-10 .u-image-1 {
    min-height: 359px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 600px;
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 593px;
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 904px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 700px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 865px;
}

.u-section-13 .u-group-1 {
  width: 557px;
  min-height: 519px;
  height: auto;
  margin: 173px 0 0 auto;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 0 30px 0 13px;
}

.u-section-13 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 9px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0 30px 0 13px;
}

.u-section-13 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 30px 30px 0 13px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 400;
  margin: 40px auto 0 13px;
  padding: 10px 52px 10px 51px;
}

.u-section-13 .u-products-1 {
  width: 570px;
  margin: -632px auto -1457px -17px;
}

.u-section-13 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 746px;
  grid-gap: 10px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 29px 22px;
}

.u-section-13 .u-image-1 {
  height: 190px;
  width: 175px;
  margin: 0 337px 0 0;
}

.u-section-13 .u-text-4 {
  font-size: 1.125rem;
  margin: -189px 0 0 207px;
}

.u-section-13 .u-text-5 {
  font-style: italic;
  margin: 22px 1px 0 206px;
}

.u-section-13 .u-product-price-1 {
  margin: 20px 202px 0 auto;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px 29px 22px;
}

.u-section-13 .u-image-2 {
  height: 190px;
  width: 175px;
  margin: 0 337px 0 0;
}

.u-section-13 .u-text-6 {
  font-size: 1.125rem;
  margin: -189px 0 0 207px;
}

.u-section-13 .u-text-7 {
  font-style: italic;
  margin: 22px 1px 0 206px;
}

.u-section-13 .u-product-price-2 {
  margin: 20px 202px 0 auto;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px 29px 22px;
}

.u-section-13 .u-image-3 {
  height: 190px;
  width: 175px;
  margin: 0 337px 0 0;
}

.u-section-13 .u-text-8 {
  font-size: 1.125rem;
  margin: -189px 0 0 207px;
}

.u-section-13 .u-text-9 {
  font-style: italic;
  margin: 22px 1px 0 206px;
}

.u-section-13 .u-product-price-3 {
  margin: 20px 202px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1267px;
  }

  .u-section-13 .u-group-1 {
    min-height: 441px;
    margin-top: 20px;
    height: auto;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-13 .u-products-1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-13 .u-products-1 {
    margin-left: 0;
    margin-bottom: -1457px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-products-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-group-1 {
    width: 340px;
  }

  .u-section-13 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.25rem;
  }

  .u-section-13 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-13 .u-products-1 {
    width: 340px;
  }

  .u-section-13 .u-image-1 {
    margin-right: auto;
  }

  .u-section-13 .u-text-4 {
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-text-5 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-product-price-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-13 .u-image-2 {
    margin-right: auto;
  }

  .u-section-13 .u-text-6 {
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-text-7 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-product-price-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-13 .u-image-3 {
    margin-right: auto;
  }

  .u-section-13 .u-text-8 {
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-text-9 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-13 .u-product-price-3 {
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 750px;
}

.u-section-14 .u-group-1 {
  width: 505px;
  min-height: 482px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-14 .u-container-layout-1 {
  padding: 30px 32px;
}

.u-section-14 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-14 .u-text-2 {
  letter-spacing: normal;
  font-style: italic;
  margin: 33px 16px 0 0;
}

.u-section-14 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-14 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-14 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-size: 1rem;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0 0;
  padding: 16px 61px 16px 60px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-group-1 {
    width: 340px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 0;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 630px;
}

.u-section-15 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-15 .u-text-2 {
  line-height: 2;
  width: 813px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0;
}

.u-section-15 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-15 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 264px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.u-section-15 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-15 .u-container-layout-1 {
  padding: 10px;
}

.u-section-15 .u-group-1 {
  width: 207px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 207px;
  background-image: none;
  margin: 0 auto;
}

.u-section-15 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-15 .u-text-3 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.u-section-15 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-15 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-15 .u-container-layout-3 {
  padding: 10px;
}

.u-section-15 .u-group-2 {
  width: 207px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 207px;
  background-image: none;
  margin: 0 auto;
}

.u-section-15 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-15 .u-text-4 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.u-section-15 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-15 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-15 .u-container-layout-5 {
  padding: 10px;
}

.u-section-15 .u-group-3 {
  width: 207px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 207px;
  background-image: none;
  margin: 0 auto;
}

.u-section-15 .u-container-layout-6 {
  padding: 10px 20px;
}

.u-section-15 .u-text-5 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.u-section-15 .u-btn-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-15 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-15 .u-container-layout-7 {
  padding: 10px;
}

.u-section-15 .u-group-4 {
  width: 207px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 207px;
  background-image: none;
  margin: 0 auto;
}

.u-section-15 .u-container-layout-8 {
  padding: 10px 20px;
}

.u-section-15 .u-text-6 {
  transition-duration: 0.5s;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0;
}

.u-section-15 .u-btn-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-15 .u-list-1 {
    margin-top: 40px;
  }

  .u-section-15 .u-repeater-1 {
    min-height: 216px;
  }

  .u-section-15 .u-group-1 {
    width: 195px;
    min-height: 195px;
  }

  .u-section-15 .u-group-2 {
    width: 195px;
    min-height: 195px;
  }

  .u-section-15 .u-group-3 {
    width: 195px;
    min-height: 195px;
  }

  .u-section-15 .u-group-4 {
    width: 195px;
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-15 .u-text-2 {
    width: 720px;
  }

  .u-section-15 .u-list-1 {
    margin-top: 42px;
  }

  .u-section-15 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 522px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-text-2 {
    width: 540px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-15 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-list-1 {
    margin-top: 48px;
  }

  .u-section-15 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

.u-section-15 .u-group-1,
.u-section-15 .u-group-1:before,
.u-section-15 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-15 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-15 .u-text-3,
.u-section-15 .u-text-3:before,
.u-section-15 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-text-3.u-text-3.u-text-3:hover {
  color: #dec79b !important;
}

.u-section-15 .u-text-3.u-text-3.u-text-3.hover {
  color: #dec79b !important;
}

.u-section-15 .u-container-layout:hover .u-text-3 {
  color: #dec79b !important;
}

.u-container-layout.hover > .u-section-15 .u-text-3 {
  color: #dec79b !important;
}

.u-section-15 .u-group-2,
.u-section-15 .u-group-2:before,
.u-section-15 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-15 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-15 .u-group-3,
.u-section-15 .u-group-3:before,
.u-section-15 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-15 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-15 .u-group-4,
.u-section-15 .u-group-4:before,
.u-section-15 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-section-15 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-15 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]),
.u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #c6c4c5 !important;
}

.u-container-layout:hover .u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9eb0-105:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]),
.u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #dec79b !important;
}

.u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]).u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #dec79b !important;
}

.u-container-layout:hover .u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]) {
  color: #dec79b !important;
}

.u-container-layout.hover .u-block-9eb0-107:not([data-block-selected]):not([data-cell-selected]) {
  color: #dec79b !important;
}

.u-section-15 .u-text-4,
.u-section-15 .u-text-4:before,
.u-section-15 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-text-4.u-text-4.u-text-4:hover {
  color: #dec79b !important;
}

.u-section-15 .u-text-4.u-text-4.u-text-4.hover {
  color: #dec79b !important;
}

.u-section-15 .u-container-layout:hover .u-text-4 {
  color: #dec79b !important;
}

.u-container-layout.hover > .u-section-15 .u-text-4 {
  color: #dec79b !important;
}

.u-section-15 .u-text-5,
.u-section-15 .u-text-5:before,
.u-section-15 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-text-5.u-text-5.u-text-5:hover {
  color: #dec79b !important;
}

.u-section-15 .u-text-5.u-text-5.u-text-5.hover {
  color: #dec79b !important;
}

.u-section-15 .u-container-layout:hover .u-text-5 {
  color: #dec79b !important;
}

.u-container-layout.hover > .u-section-15 .u-text-5 {
  color: #dec79b !important;
}

.u-section-15 .u-text-6,
.u-section-15 .u-text-6:before,
.u-section-15 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-15 .u-text-6.u-text-6.u-text-6:hover {
  color: #dec79b !important;
}

.u-section-15 .u-text-6.u-text-6.u-text-6.hover {
  color: #dec79b !important;
}

.u-section-15 .u-container-layout:hover .u-text-6 {
  color: #dec79b !important;
}

.u-container-layout.hover > .u-section-15 .u-text-6 {
  color: #dec79b !important;
}